@font-face {
    font-family: Space-Grotesk-Medium;
    src: url(../fonts/SpaceGrotesk-Medium.ttf);
}

@font-face {
  font-family: Coolvetica;
  src: url(../fonts/coolvetica_rg.otf);
}


.navbar{
    background-color: #E3CCE9;
    height: 70px !important;
}
.navbar-brand{
    font-family: Space-Grotesk-Medium;
    color: black;
    font-size: 20px;
}
.navbar-brand:hover{
    color: #293DDC;
}
.nav-item a {
    font-family: Space-Grotesk-Medium;
    color: black;
    text-decoration: none;
    /* margin-left: 10px; */
    width: 110px;
    /* background-color: yellowgreen; */
}
.nav-item a:hover{
    color: #293DDC;
    text-decoration: none;
    padding-left: 5px !important;
    transition: padding-left .2s ease-in-out;
}
.item-alignment{
    margin-left: -20px !important;
}


body{
    font-family: Space-Grotesk-Medium;
}


.loader-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
}
#progress-bar{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 70vw;
  height: 4px;
  background-color: white;
  border-radius: 25px;
  animation: loader 3s ease;
}
#progress-text{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%;
  color: white;
}

@keyframes loader {
  0% {
    width: 10vw;
  }

  75% {
    width: 50vw;
  }
  
  100% {
    width: 70vw;
  }
}
